<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("header.ejs")%>

</head>

<body id="pCreated by-top">

    <!-- PCreated by Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("sidebar.ejs")%>
        <!-- End of Sidebar -->

        <!-- Topbar -->
        <%- include("topbar.ejs")%>
        <!-- End of Topbar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include("./users/users.ejs")%>

            </div>

            <!-- /.container-fluid -->
             
        </div>
            <!-- End of Main Content -->
        <!-- Footer -->
        <%- include("footer.ejs")%>
    </div>
    <!-- End of PCreated by Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#pCreated by-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <%- include("scripts.ejs") %>
    <%- include("notification.ejs") %>
    <%- include("./users/usersscripts.ejs") %>
</body>

</html>